html, body, h1, h2, h3, p, ul, li{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
}


.header {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 2% 10% 2%;
}

img.logo {
    padding-bottom: 69.12px;
}

.divHeader h2 {
    margin-bottom: 27px;
}
.header h1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.03em;
    color: #292727;
}
.divHeader p {
    width: 100%;
    max-width: 400px;
}
.divHeader .divHeader-button {
    margin-top: 52px;
    padding: 4px 18px;
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
    background: #E55D69;
    box-shadow: 0px 4px 20px #E55D69;
    border-radius: 8px;
    align-self: center;
}

.divHeader .title {
    border-left: 5px solid #E55D69;
    padding-left: 20px;
    line-height: 133%;
    letter-spacing: 0.03em;
    color: #292727;
}


/*SECTION TWO ÀREA DE ATUAÇÃO*/

.area-de-atuacao h2 {
    text-align: center;
    font-weight: 500;
    line-height: 133%;
    font-size: 36px;
    letter-spacing: 0.15em;
    color: #333333;
    padding-bottom: 9px;

}
.area-de-atuacao-titulo {
    padding: 8% 0;
}
.linha {
    border: 2px solid #E55D69;
    width: 100%;
    max-width: 650px;
}
.area-de-atuacao ul.ul-icon {
    list-style: none;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.area-de-atuacao .ul-icon-two {
    padding-top: 5%;
}
.area-de-atuacao .ul-icon a {
    text-decoration: none;
}

.area-de-atuacao .ul-icon p {
    text-decoration: none;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.03em;
    color: #333333;
}
.area-de-atuacao .ul-icon span {
    font-weight: 600;
    font-size: 20px;
    line-height: 41px;
    letter-spacing: 0.06em;
    color: #E55D69;   
}


/* SECTION THREE - FAÇA PARTE DA EQUPE */

.faca-parte-da-equipe {
    text-align: center;
    padding-top: 6%;
}
.faca-parte-da-equipe h2 {
    padding-bottom: 9px;
}
.text p {
    padding-top: 61px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

/* SECTION FOUR - CONHEÇA A SE7E */

.conheca-a-se7e{
    text-align: center;
}
.conheca-a-se7e h2 {
    padding-bottom: 9px;
    margin-top: 5%;
}


 /*SECTION FOOTER */

 .socialIcons {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 4% 0 8% 0;

}
.socialIcons ul {
    flex-direction: row;
    display: flex;
    list-style-type: none;
}
.socialIcons li {
    padding-right: 24px;
}
 .socialIcons img {
    width: 48px;
    height: 48px;
}
.socialIcons li:last-child {
    padding-right: 0;
}





@media all and (max-width: 815px) { 

    /*SECTION - ÁREA DE ATUAÇÃO */
    .area-de-atuacao, .faca-parte-da-equipe text, .conheca-a-se7e {
        padding: 0 2% 0 2%;
    }

    .area-de-atuacao ul.ul-icon {
        display: flex;
        flex-direction: column;
    }
    .area-de-atuacao .ul-icon a {
        padding-bottom: 5%;
    }
    .area-de-atuacao .ul-icon a:last-child {
        padding-bottom: 0;
    }


 }

/* Mobile */

@media all and (max-width: 500px) {

    /*SECTION - HEADER*/
    img.logo {
        padding: 9% 0 18% 0;
    }
    .header {
        padding: 2% 6% 10% 6%;    
    }
    .header button {
        font-size: 17px!important;
    }
    .area-de-atuacao h2 {
        font-size: 16.916px;
    }
    .linha {
        max-width: 305.43px;
    }

    /* SECTION TWO - ÁREA DE ATAUAÇÃO */
    .area-de-atuacao .ul-icon a {
        padding-bottom: 8%;
    }



    /* SECTION THREE - FAÇA PARTE DA EQUIPE */
    .faca-parte-da-equipe.text {
        padding: 0 6% 0 6%;
    }
    .faca-parte-da-equipe h2 {
        margin-top: 16%;
    }
    .text p {
        padding-top: 9%;
    }


    /* SECTION FOUR - CONHEÇA A SE7E */
    .conheca-a-se7e {
        padding: 0 6% 0 6%;
    }

    /* SECTION _ FOOTER*/
    .socialIcons {
        padding: 12% 0 14% 0;
    }
}